@font-face
  font-family: Unifont
  src: url(https://unifoundry.com/pub/unifont/unifont-17.0.03/font-builds/unifont-17.0.03.otf)
  font-display: swap

*
  box-sizing: border-box

body
  font-family: serif
  inline-size: min(100%, 56rem)
  margin-inline: auto
  padding: 1rem

h1,
h2,
h3,
h4,
h5,
h6,
th
  font-weight: inherit

pre
  inline-size: fit-content
  margin-inline: auto
  background-color: gainsboro
  padding: 1rem
  font-family: "Noto Sans Mono", monospace

.entry
  block-size: fit-content
  inline-size: fit-content
  max-inline-size: 32em

  border: 1px solid gainsboro
  border-radius: .25em
  padding: .25em
  text-wrap: balance

ruby + .entry
  display: none

ruby:hover + .entry
  font-size: small
  display: block
  position: absolute
  background-color: white

table
  max-inline-size: 100%
  border-collapse: collapse
  margin-inline: auto
  margin-block: 1rem

  th
    font-weight: 500
    text-wrap: balance

  td, th
    padding: .25rex 1rex

  thead
    th
      writing-mode: vertical-lr
      text-align: end

  tbody
    tr
      border-block: 1px solid gainsboro
    th
      text-align: end

.term
  font: smaller
  border-radius: 3px
  border: 1px solid
  color: darkgray

.ipa
  color: darkgray
  &:before
    content: '['
  &:after
    content: ']'

.letters
  display: flex
  gap: 1rem
  flex-wrap: wrap

  div
    display: flex
    flex-direction: column
    align-items: center

.samples
  td
    white-space: pre-wrap

  ruby
    border-radius: .25em
    rt
      color: darkgray

    &:hover
      background-color: gainsboro

.progress
  font-size: xx-small

  th, td
    padding-block: 0

.words
  display: flex
  flex-wrap: wrap
  gap: 1px
  font-size: small

button
  font: inherit
  padding: 0
